# server
API_SERVER_URL=APP_SERVER_URL
PUBLIC_APP_SERVER_URL=PUBLIC_APP_SERVER_URL
PRIVATE_APP_SERVER_URL=PRIVATE_APP_SERVER_URL

# cors
LIVE_ORIGINS=LIVE_ORIGINS
DEV_ORIGINS=DEV_ORIGINS

# database
DB_URL=jdbc:postgresql://localhost:5432/tcmp
DB_USERNAME=postgres
DB_PASSWORD=postgres

# jwt
JWT_ACCESS_SECRET=JWT_ACCESS_SECRET
JWT_ACCESS_EXPIRATION=JWT_ACCESS_EXPIRATION

# storage
STORAGE_PATH=/var/www/esl-internship-2025-api/

# redis
SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379
SPRING_REDIS_USERNAME=default
SPRING_REDIS_PASSWORD=
